*.suo
*.dll
BusinessObjects/bin/Debug/BusinessObjects.dll.config
*.pdb
BusinessObjects/bin/Debug/EntityFramework.SqlServer.xml
BusinessObjects/bin/Debug/EntityFramework.xml
*.ps1
*.exe
WinFormsAppBindings/obj/
WinFormsAppBindings/bin/
BusinessObjects/obj/
*.v2
BusinessObjects/bin/
packages/
Presenters/obj/Debug/net5.0/Presenters.csprojAssemblyReference.cache
WisejWebPageApplication1/WisejWebPageApplication1.csproj.user
WisejWebPageApplication1/obj/Debug/WisejWebPageApplication1.csprojAssemblyReference.cache
